/* http://techcline.com/2012/12/an-ultimate-css-boilerplate-for-your-next-responsive-design.html */

@media all and (-webkit-min-device-pixel-ratio:2) {#sampleImage{background-image:url('logo@2x.png');-webkit-background-size:1000px 100px; }
}


/* ----------------------------------------------------------*/

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {
}

/* iPad ~ Portrait */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
}

/* iPad ~ Landscape */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
}

/* ----------------------------------------------------------*/

/* iPhone/Smartphone ~ Portrait */
@media only screen and (max-width: 767px) {
  body { padding: 1em; }
  #mpd-playlist {
    display: none;
  }
  #mpd-buttons {
    opacity: 0.8;
    right: 40px;
  }
  h1 { font-size: 140%; }
  h2 { font-size: 100%; }
  h3 { font-size: 70%; }
  a { font-size: 0.8em; }
}

/* iPhone/Smartphone ~ Landscape */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #mpd-buttons {
    bottom: 20px;
  }
}


/* ----------------------------------------------------------*/


/* Other Smartphones / Small Screen ~ Portrait and Landscape */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/* Other Smartphones / Small Screen ~  Landscape */
@media only screen and (min-width : 321px) {
}

/* Other Smartphones / Small Screen ~  Portrait */
@media only screen and (max-width : 320px) {
}