#mpd-info

#mpd-buttons.btn-group
  %a.mpd_control{"data-action" => "prev"}
    %i.icon-backward
  %a.mpd_control{"data-action" => "play", "data-clear" => "true", "data-toggle" => "true"}
    %i.icon-play
  %a.mpd_control{"data-action" => "pause", "data-clear" => "true", "data-toggle" => "true"}
    %i.icon-pause
  %a.mpd_control{"data-action" => "stop", "data-clear" => "true", "data-toggle" => "true"}
    %i.icon-stop
  %a.mpd_control{"data-action" => "next"}
    %i.icon-forward
  %a.mpd_volume{'data-volume' => '-'}
    %i.icon-volume-down
  %a.mpd_volume{'data-volume' => '+'}
    %i.icon-volume-up


  %a.mpd_update
    %i.icon-repeat

#mpd-playlist

%div.alert.alert-info
  %i.icon-remove.pull-right.close
  %p.alert-message

%script#tmpl-mpd-info{:type => "html/template"}
  %h1 {{= data['title'] }}
  %h2 {{= data['artist'] }}
  %h3 {{= data['album'] }}

%script#tmpl-mpd-playlist{:type => "html/template"}
  {{ _.each(data, function(song, index){ }}
  %p {{= song['artist'] }} - {{= song['title'] }}
  {{ }) }}
